examples/02-set-value.json
[
  {
    "id": "ex2.tab",
    "type": "tab",
    "label": "openccu-loom – Set-Point setzen",
    "disabled": false,
    "info": "Schreibt periodisch einen Set-Point auf einen Heizkanal. Idempotency-Key wird je Schreibvorgang erzeugt, damit Node-RED-Retries den Aktor nicht doppelt schalten."
  },
  {
    "id": "ex2.server",
    "type": "openccu-loom-server",
    "name": "openccu-loom localhost",
    "host": "127.0.0.1",
    "port": 8080,
    "tls": false,
    "insecureTLS": false,
    "authMethod": "basic",
    "timeout": 10000
  },
  {
    "id": "ex2.inject",
    "type": "inject",
    "z": "ex2.tab",
    "name": "21.5 °C",
    "props": [
      { "p": "payload" },
      { "p": "idempotencyKey", "v": "$random()", "vt": "jsonata" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "21.5",
    "payloadType": "num",
    "x": 160,
    "y": 120,
    "wires": [["ex2.set"]]
  },
  {
    "id": "ex2.set",
    "type": "openccu-loom-set-value",
    "z": "ex2.tab",
    "name": "SET_POINT_TEMPERATURE",
    "server": "ex2.server",
    "address": "000C9709AEF157",
    "channel": "1",
    "parameter": "SET_POINT_TEMPERATURE",
    "priority": "default",
    "idempotencyKey": "",
    "x": 420,
    "y": 120,
    "wires": [["ex2.debug"]]
  },
  {
    "id": "ex2.debug",
    "type": "debug",
    "z": "ex2.tab",
    "name": "Antwort",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "true",
    "x": 660,
    "y": 120,
    "wires": []
  }
]
